@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
main {
    max-width: 800px;
    margin: 0 auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: none;
}

h1 {
    font-family: 'Rock Salt', cursive;
}
#game {
    display: none;
}

#hangman {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.first {
    background-image: url("../img/first.png");
}

.body5{
    background-image: url("../img/head.png");
}

.body4{
    background-image: url("../img/body.png");
}

.body3 {
    background-image: url("../img/arm1.png");
}

.body2 {
    background-image: url("../img/arm2.png");
}

.body1 {
    background-image: url("../img/leg1.png");
}

.body0 {
    background-image: url("../img/leg2.png");
}



#word{
    display: inline-flex;
}

.clue{
    width: 20px;
}

.clue a {
    display: block;
    visibility: hidden;
}

#keyboard{
    font-size: 25px;
    margin: 50px 0 0 0;
}

#keyboard a {
    margin: 4px;
    padding: 6px;
    border-style: groove;
    border-width: 2px;
    display: inline-flex;
}

.key{
    cursor: pointer;
    font-size: 30px;
}

.letter {
    font-size: 30px;
}

.none {
    cursor: default;
}

#resposta {
    font-size: 30px;
    color: blue;
}

#gameover {
    display: none;
}

.btn {
    font-size: 50px;
    height: 60px;
    width: 400px;
}

.space {
    width: 20px;
}