@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
main {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    font-family: 'Rock Salt', cursive;
}
#game {
    display: none;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: none;
}

#word{
    display: flex;
}

.clue{
    width: 20px;
}

.clue a {
    display: block;
    visibility: hidden;
}

#keyboard{
    font-size: 25px;
    margin: 50px 0 0 0;
}

#keyboard a {
    margin: 4px;
    padding: 6px;
    border-style: groove;
    border-width: 2px;
    display: inline-flex;
}

.key{
    cursor: pointer;
}

.none {
    cursor: default;
}

#gameover {
    display: none;
}

.btn {
    font-size: 50px;
    height: 40px;
    width: 400px;
}