main {
    max-width: 800px;
    margin: 0 auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

#word{
    display: flex;
}

.clue{
    width: 20px;
}

.clue a {
    display: block;
    visibility: hidden;
}

#keyboard{
    font-size: 25px;
    margin: 50px 0 0 0;
}

#keyboard a {
    margin: 4px;
    padding: 6px;
    border-style: groove;
    border-width: 2px;
    
}

.key{
    cursor: pointer;
}

.none {
    cursor: none;
}